@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#section2 {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* default styles for large and medium screens (landscape) */
@media (min-width: 1024px) {
  #section2 {
    background-image: url("/bg/img-1920x1200.jpg");
  }
}

/* medium screens in landscape mode */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  #section2 {
    background-image: url("/bg/img-1280x800.jpg");
  }
}

/* medium screens in portrait mode */
@media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  #section2 {
    background-image: url("/bg/img-800x368.jpg");
  }
}

/* small screens */
@media (max-width: 767px) {
  #section2 {
    background-image: url("/bg/img-800x368.jpg");
  }
}

* {
  box-sizing: border-box;
}

.fade-in {
  animation: fadeIn 1s forwards;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.underline-sm-centered {
  position: relative;
}

.underline-sm-centered:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 30%;
  height: 4px;
  background-color: #374151;
}
